<!--<button mat-button [matMenuTriggerFor]="menu">Menu</button>-->
<mat-toolbar color="primary">
	<a mat-stroked-button>Home</a>
	<a mat-stroked-button>Notas</a>
	<a mat-stroked-button>Reservas</a>

	<div class="spacer"></div>
	<a mat-stroked-button>Salir</a>
</mat-toolbar>

<!--
<mat-sidenav-container>
	<mat-sidenav [(opened)]="opened">
		<mat-list>
			<mat-list-item>Item 1</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item>Item 2</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item>Item 3</mat-list-item>
		</mat-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<button (click)="opened=!opened">Menú</button>
	</mat-sidenav-content>
</mat-sidenav-container>-->